{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    
   
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__auth">
                {% if request.user.is_authenticated %}
                

                <div class="dropdown">
                    
                    <button class="dropbtn" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-badge-fill" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
                          </svg> -->
                          {{ request.user.username }}</button>
                    <div class="dropdown-content">
                      <a href="#" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                          </svg>
                          My account</a>
                        <a href="#" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                              </svg>
                            Message</a>
                      <a href="{% url 'dashboard:logout' %}" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                          </svg>
                          LogOut</a>
                    </div>
                </div>
                    
                    
                {% else %}

                <!-- <a href="{% url 'account_login' %}"><i class="fa fa-user"></i> Login / Register</a> -->
                <button style="border-style: none; background-color: transparent;"><a href="{% url 'account_login' %}" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'" ><i class="fa fa-user"></i> Login  </a></button>/
                <div class="dropdown">
                    <button class="dropbtn" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">Register</button>
                    <div class="dropdown-content">
                      <a href="{% url 'user:salesman_signup' %}" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
                        <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                      </svg> Salseman</a>
                      <a href="{% url 'user:customer_signup' %}" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                          </svg>
                        Customer</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                {% for ctg in category %}
                    <li><a href="#">{{ ctg.name }}</a></li>
                {% endfor %}
            </ul>

        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of Rs.500/-</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> shop@colorlib.gmail.com</li>
                                <li>Free Shipping for all Order of Rs.500/-</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>

                            <div class="header__top__right__auth">
                                {% if request.user.is_authenticated %}
                                

                                <div class="dropdown">
                                    
                                    <button class="dropbtn" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-badge-fill" viewBox="0 0 16 16">
                                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
                                          </svg> -->
                                          {{ request.user.username }}</button>
                                    <div class="dropdown-content">
                                      <a href="#" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                          </svg>
                                          My account</a>
                                        <a href="#" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square" viewBox="0 0 16 16">
                                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-2.5a2 2 0 0 0-1.6.8L8 14.333 6.1 11.8a2 2 0 0 0-1.6-.8H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                              </svg>
                                            Message</a>
                                      <a href="{% url 'dashboard:logout' %}" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                          </svg>
                                          LogOut</a>
                                    </div>
                                </div>
                                    
                                    
                                {% else %}

                                <!-- <a href="{% url 'account_login' %}"><i class="fa fa-user"></i> Login / Register</a> -->
                                <button style="border-style: none; background-color: transparent;"><a href="{% url 'account_login' %}" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'" ><i class="fa fa-user"></i> Login  </a></button>/
                                <div class="dropdown">
                                    <button class="dropbtn" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">Register</button>
                                    <div class="dropdown-content">
                                      <a href="{% url 'user:salesman_signup' %}" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                                        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
                                        <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z" />
                                      </svg> Salseman</a>
                                      <a href="{% url 'user:customer_signup' %}" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                                          </svg>
                                        Customer</a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
                    </div>
                </div>
                 <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                        
                            <form action="/search" method="get">
                                <!-- {% csrf_token %} -->
                                <input type="text" placeholder="What do yo u need?" name="query" id="query" >
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>

                        <div class="hero__search__phone">
                          
                            <div class="header__cart">
                                <ul>
                                    <li><a href="{% url 'dashboard:show' %}"><i class="fa fa-shopping-bag"></i> <span>{{request.session.cart.keys|length}} </span></a></li>
                                </ul>
                            </div>
               
                        </div>
                    </div>

                </div>
                

            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->



    <!-- Hero Section Begin -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all" data-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-expanded="true">
                            <i class="fa fa-bars"></i>
                            <span>All Category</span>
                            
                            
                        </div>
                        
                        <ul id="navbarToggleExternalContent" class="nav-desk collapse show ">
                        {% for ctg in category %}
                            <li><a href="{% url 'dashboard:shop' ctg.id %}">{{ ctg.name }}</a>
                            </li>
                        {% endfor %}
                            

                        </ul>
                    </div>
                </div>

               <!-- col 9 -->
               <div class="col-lg-9">
                    <nav class="header__menu">
                        <ul>
                            {% for ty in types %}
                            <li><a href="{% url 'dashboard:shop' ty.id %}">{{ty.name}}</a> </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
              
            </div>
        </div>
    </section>
   <!-- slider  -->
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        
        <div class="carousel-item active">
          <img src="{% static 'img/5.webp' %}" alt="Chicago" style="width: 100%;">
        </div>

        <div class="carousel-item">
          <img src="{% static 'img/6.webp' %}" alt="Los Angeles" style="width: 100%;height: 360px;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/4.webp' %}" alt="Los Angeles" style="width: 100%;height: 360px;">
          </div>

      </div>
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

     </div>
     <!-- slider end -->

    <div class="space"></div>



    <section class="catogories">
    <div class="container d-flex catogories-div">
        <a href="#" class="catogories-menu">
            <div>
                <img src="https://hardwarepasal.com/src/img/sitesetting/2022-02-08-10-39-00_s5GYSKAoNH_hp_express_icon.gif" class="img-fluid catogories-image" title="hp express" alt="hp express">
                <span class="mt-2 mt-lg-0">HP Express</span>
            </div>
        </a>
        <a href="#" class="catogories-menu">
            <div>
                <img src="https://hardwarepasal.com/src/img/sitesetting/2022-02-08-10-39-00_vW0b8WnxyX_hot_deals_icon.gif" class="img-fluid catogories-image" title="hot deals" alt="hot deals">
                <span class="mt-2 mt-lg-0">Hot Deals</span>
            </div>
        </a>
        <a href="{% url 'dashboard:blog' %}" class="catogories-menu">
            <div>
                <img src="https://hardwarepasal.com/src/img/sitesetting/2022-02-08-10-39-00_3oQAuvNLB8_blogs_icon.gif" class="img-fluid catogories-image" title="blogs" alt="blogs">
                <span class="mt-2 mt-lg-0">Blogs</span>
            </div>
        </a>
        <a href="#" class="catogories-menu">
            <div>
                <img src="https://hardwarepasal.com/src/img/sitesetting/2022-02-08-10-39-00_HopJenJ3Dz_sell_with_us_icon.gif" class="img-fluid catogories-image" title="discount" alt="discount">
                <span class="mt-2 mt-lg-0">Sell With Us</span>
            </div>
        </a>
        <a href="#" class="catogories-menu">
            <div>
                <img src="https://hardwarepasal.com/src/img/sitesetting/2022-01-18-22-50-21_JpRtH1SPV4_new_arrivals_icon.gif" class="img-fluid catogories-image" alt="new arrivals" title="new arrivals">
                <span class="mt-2 mt-lg-0">New Arrivals</span>
            </div>
        </a>
    </div>
   </section>
  

    <!-- Banner Begin -->
   <!--  <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="banner__pic">
                        <img src="img/4.webp" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Banner End -->

   <div class="space"></div>

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    {% for pd in product %}
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{{ pd.image.url }}">
                            <h5><a href="{% url 'dashboard:related' pd.id %}">{{pd.name}}</a></h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->



    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="box-heading">
                <h2 class="cnit-h2">NEW PRODUCT</h2>

                 <div class="float-right">
                   <a href="" style="color: #231f20;width: 90px;height: 0px;border: none;margin-top: 20px;" class="seeAll">See All &gt;</a>
                 </div>

            </div>
            <div class="row featured__filter">
                {% for npd in newpd %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{{ npd.image.url }}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6>
                                {{npd.discriptions}}
                                
                            </h6>
                            <h5>
                                <a href="{% url 'dashboard:related' npd.id %}" style="color:blue ;">
                                    {{ npd.name }}
                                </a>
                            </h5>
                            {% if request.user.is_authenticated %} 
                                <h5>Rs.{{ npd.price}}</h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="banner__pic">
                        <img src="{% static 'img/4.webp' %}" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

   <div class="space"></div>


   <section class="feature">
    <div class="feature__tablist pt-20">
        <div class="container">

            <div class="box-heading">
                <h2 class="cnit-h2">SHOP BY BRANDS
                </h2>
                 <div class="float-right">
                   <a href="" style="width: 90px;height: 0px;border: none;margin-top: 20px;" class="seeAll">See All &gt;</a>
                 </div>
            </div>

            <div class="clearfix"></div>

            <div class="nav d-flex" role="tablist">
                {% for bd in brand %}
                <a class="listItem" href="{% url 'dashboard:brand' bd.id %}">
                    <div class="image-block">
                        <img alt="Bosch" title="Bosch" class="img-fluid" src="{{ bd.logo.url }}" style="height: 80px; width: 100px;">
                    </div>
                    <span class="brand-name">{{ bd.name }}</span>
                </a>
                {% endfor %}
                
            </div>
        </div>
    </div>
  </section>


  <div class="mySection py-4">
      <div class="container">
        
          <div class="row">
              <div class="col-md-6 appImage">
                  <img src="{% static '3.png' %}" alt="image">
              </div>

              <div class="col-md-6">
                 <h2 class="appTitle">For better user experience please download Our App</h2>
                 <div class="space"></div>
                 <div class="row app">
                    <img src="{% static 'app.png' %}" alt="image">
                   <img src="{% static 'app1.png' %}" alt="image">
                 </div>

              </div>
          </div>
      </div>
  </div>
    
    
   

        <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="{% url 'dashboard:about' %}">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="{% url 'dashboard:contact' %}">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Freelancrunit</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>



</body>

</html>