{% extends 'shop/admin_base.html' %}
{% load static %}
{% load shop_extras %}
{% block main %}
<div class="pagetitle">
  <h1>Dashboard</h1>
</div>
<!-- End Page Title -->

<section class="section dashboard">
  <div class="row">
    <!-- Left side columns -->
    <div class="col-lg-8">
      <div class="row">
        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card sales-card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="?duration=1">Today</a></li>
                <li><a class="dropdown-item" href="?duration=7">This Week</a></li>
                <li><a class="dropdown-item" href="?duration=30">This Month</a></li>
                <li><a class="dropdown-item" href="?duration=365">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              {% if filter_order_by == 1 %}
              <h5 class="card-title">Sales <span>| Today</span></h5>
              {% elif filter_order_by == 7 %}
              <h5 class="card-title">Sales <span>| This Week</span></h5>
              {% elif filter_order_by == 30 %}
              <h5 class="card-title">Sales <span>| This Month</span></h5>
              {% elif filter_order_by == 365 %}
              <h5 class="card-title">Sales <span>| This Year</span></h5>
              {% else %}
              <h5 class="card-title">Sales <span>| This {{filter_order_by}} Days</span></h5>
              {% endif %}

              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-cart"></i>
                </div>
                <div class="ps-3">
                  <h6>{{order_count}}</h6>
                  {% if percent_change %}
                    {% if percent_change > 0 %}
                    <span class="text-success small pt-1 fw-bold">{{percent_change}} %</span>
                    <span class="text-muted small pt-2 ps-1">increase</span>
                    {% else %}
                    <span class="text-danger small pt-1 fw-bold">{{percent_change}} %</span>
                    <span class="text-muted small pt-2 ps-1">decrease</span>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Sales Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-6">
          <div class="card info-card revenue-card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="?revenue_duration=1">Today</a></li>
                <li><a class="dropdown-item" href="?revenue_duration=7">This Week</a></li>
                <li><a class="dropdown-item" href="?revenue_duration=30">This Month</a></li>
                <li><a class="dropdown-item" href="?revenue_duration=365">This year</a></li>
              </ul>
            </div>

            <div class="card-body">
              {% if revenue_duration == 1 %}
              <h5 class="card-title">Revenue <span>| Today</span></h5>
              {% elif revenue_duration == 7 %}
              <h5 class="card-title">Revenue <span>| This Week</span></h5>
              {% elif revenue_duration == 30 %}
              <h5 class="card-title">Revenue <span>| This Month</span></h5>
              {% elif revenue_duration == 365 %}
              <h5 class="card-title">Revenue <span>| This Year</span></h5>
              {% else %}
              <h5 class="card-title">Revenue <span>| This {{revenue_duration}} Days</span></h5>
              {% endif %}
              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-currency-dollar"></i>
                </div>
                <div class="ps-3">
                  <h6>Rs. {{revenue}}</h6>
                  {% if revenue_percent_change %}  
                    <span class="text-success small pt-1 fw-bold">{{revenue_percent_change}} %</span>
                    {% if revenue_percent_change > 0 %}
                    <span class="text-muted small pt-2 ps-1">increase</span>
                    {% else %}
                    <span class="text-muted small pt-2 ps-1">decrease</span>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Revenue Card -->

        <!-- Customers Card -->
        <div class="col-xxl-4 col-xl-12">
          <div class="card info-card customers-card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="?customer_duration=1">Today</a></li>
                <li><a class="dropdown-item" href="?customer_duration=7">This Week</a></li>
                <li><a class="dropdown-item" href="?customer_duration=30">This Month</a></li>
                <li><a class="dropdown-item" href="?customer_duration=365">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              {% if customer_duration == 1 %}
              <h5 class="card-title">Customers <span>| Today</span></h5>
              {% elif customer_duration == 7 %}
              <h5 class="card-title">Customers <span>| This Week</span></h5>
              {% elif customer_duration == 30 %}
              <h5 class="card-title">Customers <span>| This Month</span></h5>
              {% elif customer_duration == 365 %}
              <h5 class="card-title">Customers <span>| This Year</span></h5>
              {% else %}
              <h5 class="card-title">Customers <span>| This {{customer_duration}} Days</span></h5>
              {% endif %}
              <div class="d-flex align-items-center">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                >
                  <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                  <h6>{{customer_count}}</h6>
                  {% if cutomer_percent_change %}
                    <span class="text-danger small pt-1 fw-bold">{{customer_percent_change}} %</span>
                    {% if customer_percent_change > 0 %}
                    <span class="text-muted small pt-2 ps-1">increase</span>
                    {% else %}
                    <span class="text-muted small pt-2 ps-1">decrease</span>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Customers Card -->

        <!-- Reports -->
        <div class="col-12">
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>
                <li><a class="dropdown-item" href="?report=7">This Week</a></li>
                <li><a class="dropdown-item" href="?report=30">This Month</a></li>
                <li><a class="dropdown-item" href="?report=365">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Reports <span>/Today</span></h5>

              <!-- Line Chart -->
              <div id="reportsChart"></div>

              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new ApexCharts(document.querySelector("#reportsChart"), {
                    series: [
                      {
                        name: "Sales",
                        data: {{sales_report|safe}},
                      },
                      {
                        name: "Revenue (in 10 Thousands)",
                        data: {{revenue_report|safe}},
                      },
                      {
                        name: "Customers",
                        data: {{customer_report|safe}},
                      },
                    ],
                    chart: {
                      height: 350,
                      type: "area",
                      toolbar: {
                        show: true,
                      },
                    },
                    markers: {
                      size: 0,
                    },
                    colors: ["#4154f1", "#2eca6a", "#ff771d"],
                    fill: {
                      type: "gradient",
                      gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.3,
                        opacityTo: 0.4,
                        stops: [0, 90, 100],
                      },
                    },
                    dataLabels: {
                      enabled: false,
                    },
                    stroke: {
                      curve: "smooth",
                      width: 2,
                    },
                    xaxis: {
                      type: "datetime",
                      categories: {{dates|safe}},
                    },
                    tooltip: {
                     x: {
                        format: "dd/MM",
                      },
                    },
                  }).render();
                });
              </script>
              <!-- End Line Chart -->
            </div>
          </div>
        </div>
        <!-- End Reports -->

        <!-- Recent Sales -->
        <div class="col-12">
          <div class="card recent-sales overflow-auto">
            <div class="card-body">
              <h5 class="card-title">Recent Sales</h5>

              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in recent_orders %}
                  <tr>
                    <th scope="row"><a href="#">{{order.id}}</a></th>
                    <td>{{order.user.username}}</td>
                    <td>
                      <ul>
                        {% for item in order.items.all %}
                        <li><a href="#" class="text-primary">{{item.product.name}}</a></li>
                        {% endfor %}
                      </ul>
                    </td>
                    <td>
                      <ul>
                      {% for item in order.items.all %}
                      {% if item.product.discounted_price %}
                      <li><a href="#" class="text-primary">{{item.product.discounted_price}}</a></li>
                      {% else %}
                      <li><a href="#" class="text-primary">{{item.product.price}}</a></li>
                      {% endif %}
                      {% endfor %}
                      </ul>
                    </td>
                    <td>
                      {% if order.order_status == 'unverified'%}
                      <span class="badge bg-danger">{{order.order_status}}</span>
                      {% elif order.order_status == 'verified' %}
                      <span class="badge bg-primary">{{order.order_status}}</span>
                      {% else %}
                      <span class="badge bg-success">{{order.order_status}}</span>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End Recent Sales -->

        <!-- Top Selling -->
        <div class="col-12">
          <div class="card top-selling overflow-auto">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"
                ><i class="bi bi-three-dots"></i
              ></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="?timeframe=1">Today</a></li>
                <li><a class="dropdown-item" href="?timeframe=7">This Week</a></li>
                <li><a class="dropdown-item" href="?timeframe=30">This Month</a></li>
                <li><a class="dropdown-item" href="?timeframe=365">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              {% if top_selling_timeframe == 1 %}
              <h5 class="card-title">Top Selling <span>| Today</span></h5>
              {% elif top_selling_timeframe == 7 %}
              <h5 class="card-title">Top Selling <span>| This Week</span></h5>
              {% elif top_selling_timeframe == 30 %}
              <h5 class="card-title">Top Selling <span>| This Month</span></h5>
              {% elif top_selling_timeframe == 365 %}
              <h5 class="card-title">Top Selling <span>| This Year</span></h5>
              {% else %}
              <h5 class="card-title">Top Selling <span>| This {{top_selling_timeframe}} Days</span></h5>
              {% endif %}
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Preview</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Sold</th>
                    <th scope="col">Revenue</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {% for product in top_selling_products %}
                    <th scope="row">
                      <a href="#"
                        ><img
                          src="{{product.image.url}}"
                          alt=""
                      /></a>
                    </th>
                    <td>
                      <a href="#" class="text-primary fw-bold">{{product.name}}</a>
                    </td>
                    {% if product.discounted_price %}
                    <td>Rs. {{product.discounted_price}}</td>
                    {% else %}
                    <td>Rs. {{product.price}}</td>
                    {% endif %}
                    <td class="fw-bold">{{top_selling_products|dict_key:product}}</td>
                    {% if product.discounted_price %}
                    <td>{% widthratio top_selling_products|dict_key:product 1 product.discounted_price %}</td>
                    {% else %}
                    <td>{% widthratio top_selling_products|dict_key:product 1 product.discounted_price %}</td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End Top Selling -->
      </div>
    </div>
    <!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-lg-4">
      <!-- Recent Activity -->
      <div class="card">
        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"
            ><i class="bi bi-three-dots"></i
          ></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body">
          <h5 class="card-title">Recent Activity <span>| Today</span></h5>

          <div class="activity">
            <div class="activity-item d-flex">
              <div class="activite-label">32 min</div>
              <i
                class="bi bi-circle-fill activity-badge text-success align-self-start"
              ></i>
              <div class="activity-content">
                Quia quae rerum
                <a href="#" class="fw-bold text-dark">explicabo officiis</a>
                beatae
              </div>
            </div>
            <!-- End activity item-->

            <div class="activity-item d-flex">
              <div class="activite-label">56 min</div>
              <i
                class="bi bi-circle-fill activity-badge text-danger align-self-start"
              ></i>
              <div class="activity-content">
                Voluptatem blanditiis blanditiis eveniet
              </div>
            </div>
            <!-- End activity item-->

            <div class="activity-item d-flex">
              <div class="activite-label">2 hrs</div>
              <i
                class="bi bi-circle-fill activity-badge text-primary align-self-start"
              ></i>
              <div class="activity-content">
                Voluptates corrupti molestias voluptatem
              </div>
            </div>
            <!-- End activity item-->

            <div class="activity-item d-flex">
              <div class="activite-label">1 day</div>
              <i
                class="bi bi-circle-fill activity-badge text-info align-self-start"
              ></i>
              <div class="activity-content">
                Tempore autem saepe
                <a href="#" class="fw-bold text-dark">occaecati voluptatem</a>
                tempore
              </div>
            </div>
            <!-- End activity item-->

            <div class="activity-item d-flex">
              <div class="activite-label">2 days</div>
              <i
                class="bi bi-circle-fill activity-badge text-warning align-self-start"
              ></i>
              <div class="activity-content">
                Est sit eum reiciendis exercitationem
              </div>
            </div>
            <!-- End activity item-->

            <div class="activity-item d-flex">
              <div class="activite-label">4 weeks</div>
              <i
                class="bi bi-circle-fill activity-badge text-muted align-self-start"
              ></i>
              <div class="activity-content">
                Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
              </div>
            </div>
            <!-- End activity item-->
          </div>
        </div>
      </div>
      <!-- End Recent Activity -->

      <!-- Budget Report -->
      <div class="card">
        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"
            ><i class="bi bi-three-dots"></i
          ></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body pb-0">
          <h5 class="card-title">Budget Report <span>| This Month</span></h5>

          <div id="budgetChart" style="min-height: 400px" class="echart"></div>

          <script>
            document.addEventListener("DOMContentLoaded", () => {
              var budgetChart = echarts
                .init(document.querySelector("#budgetChart"))
                .setOption({
                  legend: {
                    data: ["Allocated Budget", "Actual Spending"],
                  },
                  radar: {
                    // shape: 'circle',
                    indicator: [
                      {
                        name: "Sales",
                        max: 6500,
                      },
                      {
                        name: "Administration",
                        max: 16000,
                      },
                      {
                        name: "Information Technology",
                        max: 30000,
                      },
                      {
                        name: "Customer Support",
                        max: 38000,
                      },
                      {
                        name: "Development",
                        max: 52000,
                      },
                      {
                        name: "Marketing",
                        max: 25000,
                      },
                    ],
                  },
                  series: [
                    {
                      name: "Budget vs spending",
                      type: "radar",
                      data: [
                        {
                          value: [4200, 3000, 20000, 35000, 50000, 18000],
                          name: "Allocated Budget",
                        },
                        {
                          value: [5000, 14000, 28000, 26000, 42000, 21000],
                          name: "Actual Spending",
                        },
                      ],
                    },
                  ],
                });
            });
          </script>
        </div>
      </div>
      <!-- End Budget Report -->

      <!-- Website Traffic -->
      <div class="card">
        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"
            ><i class="bi bi-three-dots"></i
          ></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body pb-0">
          <h5 class="card-title">Website Traffic <span>| Today</span></h5>

          <div id="trafficChart" style="min-height: 400px" class="echart"></div>

          <script>
            document.addEventListener("DOMContentLoaded", () => {
              echarts.init(document.querySelector("#trafficChart")).setOption({
                tooltip: {
                  trigger: "item",
                },
                legend: {
                  top: "5%",
                  left: "center",
                },
                series: [
                  {
                    name: "Access From",
                    type: "pie",
                    radius: ["40%", "70%"],
                    avoidLabelOverlap: false,
                    label: {
                      show: false,
                      position: "center",
                    },
                    emphasis: {
                      label: {
                        show: true,
                        fontSize: "18",
                        fontWeight: "bold",
                      },
                    },
                    labelLine: {
                      show: false,
                    },
                    data: [
                      {
                        value: 1048,
                        name: "Search Engine",
                      },
                      {
                        value: 735,
                        name: "Direct",
                      },
                      {
                        value: 580,
                        name: "Email",
                      },
                      {
                        value: 484,
                        name: "Union Ads",
                      },
                      {
                        value: 300,
                        name: "Video Ads",
                      },
                    ],
                  },
                ],
              });
            });
          </script>
        </div>
      </div>
      <!-- End Website Traffic -->

      <!-- News & Updates Traffic -->
      <div class="card">
        <div class="filter">
          <a class="icon" href="#" data-bs-toggle="dropdown"
            ><i class="bi bi-three-dots"></i
          ></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Filter</h6>
            </li>

            <li><a class="dropdown-item" href="#">Today</a></li>
            <li><a class="dropdown-item" href="#">This Month</a></li>
            <li><a class="dropdown-item" href="#">This Year</a></li>
          </ul>
        </div>

        <div class="card-body pb-0">
          <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

          <div class="news">
            <div class="post-item clearfix">
              <img src="{% static 'shop/assets/img/news-1.jpg' %}" alt="" />
              <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
              <p>
                Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed
                ut harum...
              </p>
            </div>

            <div class="post-item clearfix">
              <img src="{% static 'shop/assets/img/news-2.jpg' %}" alt="" />
              <h4><a href="#">Quidem autem et impedit</a></h4>
              <p>
                Illo nemo neque maiores vitae officiis cum eum turos elan dries
                werona nande...
              </p>
            </div>

            <div class="post-item clearfix">
              <img src="{% static 'shop/assets/img/news-3.jpg' %}" alt="" />
              <h4>
                <a href="#">Id quia et et ut maxime similique occaecati ut</a>
              </h4>
              <p>
                Fugiat voluptas vero eaque accusantium eos. Consequuntur sed
                ipsam et totam...
              </p>
            </div>

            <div class="post-item clearfix">
              <img src="{% static 'shop/assets/img/news-4.jpg' %}" alt="" />
              <h4><a href="#">Laborum corporis quo dara net para</a></h4>
              <p>
                Qui enim quia optio. Eligendi aut asperiores enim repellendusvel
                rerum cuder...
              </p>
            </div>

            <div class="post-item clearfix">
              <img src="{% static 'shop/assets/img/news-5.jpg' %}" alt="" />
              <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
              <p>
                Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae
                dignissimos eius...
              </p>
            </div>
          </div>
          <!-- End sidebar recent posts-->
        </div>
      </div>
      <!-- End News & Updates -->
    </div>
    <!-- End Right side columns -->
  </div>
</section>

{% endblock %}
