{% extends 'shop/admin_base.html' %}

{% block main %}
<div class="pagetitle">
    <h1>Salesman List</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'shop:admin_dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item">Salesman List</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Salesman List</h5>
            <!-- Table with stripped rows -->
            <table class="table datatable">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Contact No</th>
                  <th scope="col">Address</th>
                  <th scope="col">Email</th>
                  <th scope="col">Joined Date</th>
                  <th scope="col">Last Login</th>
                  <th scope="col">Block Customer</th>
                </tr>
              </thead>
              
              <tbody>
                {% for salesman in salesmen %}
                <tr>
                  <th scope="row">{{salesman.salesman.id}}</th>
                  <td><a href="#">{{salesman.salesman.full_name}}</a></td>
                  <td>{{salesman.salesman.contact_no}}</td>
                  <td>{{salesman.salesman.address}}</td>
                  <td>{{salesman.email}}</td>
                  <td>{{salesman.date_joined}}</td>
                  <td>{{salesman.last_login}}</td>
                  <td><a href="{% url 'shop:block_salesman' salesman.id %}">Block Salesman</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}