{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Signup</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'shop/assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'shop/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'shop/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'shop/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'shop/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'shop/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'shop/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'shop/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'shop/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'shop/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="/" class="logo d-flex align-items-center w-auto">
                  <img src="{% static 'shop/assets/img/logo.png' %}" alt="">
                  <span class="d-none d-lg-block">B2B</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate method="post" action = "{% url 'user:customer_signup' %}" >
                    {% csrf_token %}
                    <div class="col-12">
                      <label for="yourName" class="form-label">Your Name</label>
                      <input type="text" class = "form-control" name="full_name" maxlength="100" required id="id_full_name">
                      <div class="invalid-feedback">Please, enter your name!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Your Email</label>
                      <input type="email" class = "form-control" name="email" placeholder="E-mail address" autocomplete="email" required id="id_email">
                      <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Contact</label>
                      <input type="tel" class = "form-control" name="contact_no" required id="id_contact_no">
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label">Address</label>
                      <input type="text" class = "form-control" name="address" maxlength="200" required id="id_address">
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" class = "form-control" name="password1" placeholder="Password" autocomplete="new-password" required id="id_password1">
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href='{% url "account_login" %}'>Log in</a></p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'shop/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'shop/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'shop/assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'shop/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'shop/assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'shop/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'shop/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'shop/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'shop/assets/js/main.js' %}"></script>

</body>

</html>